@import url("./platform.css");

Page {
  font-size: 15;
  background-color: black;
}
ActionBar {
  background-color: black;
  color: white;
}
TextField {
  padding: 10;
  font-size: 13;
}
.line-through {
  text-decoration: line-through;
}
ActionBar {
  padding-top: 10;
}

Label.mdi-actionitem {
  /*margin-top: 10;*/
}

Label.mdi-menu {
  margin-top: 6;
}
