<GridLayout  [row]="row">
<RadListView 
  [class.visible]="listLoaded"
  [items]="matches.items | async"
  swipeActions="true"
  (itemLoading)="makeBackgroundTransparent($event)"
>
  <ng-template let-item="item">
    <GridLayout
      columns="*, auto"
      class="container"
      (swipe)="onSwipe($event)"
      orientation="vertical"
      [opacity]="item.done ? '0.8' : '1'"
    >
      <!-- Wrap in containers for bigger tap targets -->
      <StackLayout col="0" orientation="horizontal" class="tap-target">
        <Image class="check-box" src="res://apple.png"></Image>
        <Label [text]="item.name"></Label>
      </StackLayout>
    </GridLayout>
  </ng-template>
</RadListView>
</GridLayout>