<GridLayout>
  <GridLayout
    #background
    scaleX="1.4"
    scaleY="1.4"
    class="background"
    (loaded)="startBackgroundAnimation(background)"
  ></GridLayout>

  <StackLayout #initialContainer class="initial-container">
    <Image src="res://logo_login" stretch="none" class="initial-logo"></Image>
    <Label text="ROOMIE" class="initial-label"></Label>
    <StackLayout (tap)="showMainContent()" class="initial-button">
      <Label text="Login" class="initial-button-label"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout #mainContainer class="main-container">
    <ScrollView #ScrollList orientation="vertical">
      <GridLayout rows="auto auto auto auto auto 25">
        <Label
          class="main-label"
          text="ROOMIE"
          [color]="isLoggingIn ? 'black' : 'white'"
          row="0"
        ></Label>
        <GridLayout
          #formControls
          class="form-controls"
          rows="50,50"
          orientation="vertical"
          translateY="50"
          row="1"
        >
          <TextField
            hint="Email Address"
            keyboardType="email"
            returnKeyType="next"
            (returnPress)="focusPassword()"
            [(ngModel)]="user.email"
            [isEnabled]="!isAuthenticating"
            autocorrect="false"
            autocapitalizationType="none"
            [class.light]="!isLoggingIn"
            row="0"
          ></TextField>
          <TextField
            #password
            hint="Password"
            secure="true"
            returnKeyType="done"
            (returnPress)="submit()"
            [(ngModel)]="user.password"
            [isEnabled]="!isAuthenticating"
            [class.light]="!isLoggingIn"
            row="1"
          ></TextField>
          <TextField
            hint="Password"
            secure="true"
            returnKeyType="done"
            (returnPress)="submit()"
            [(ngModel)]="user.password"
            [isEnabled]="!isAuthenticating"
            [class.light]="!isLoggingIn"
            [visibility]="!isLoggingIn ? 'visible' : 'hidden'"
            row="2"
          ></TextField>
          <TextField
            hint="Password"
            secure="true"
            [isEnabled]="!isAuthenticating"
            [visibility]="!isLoggingIn ? 'visible' : 'hidden'"
            [class.light]="!isLoggingIn"
            row="3"
          ></TextField>
          <ListPicker
            [isEnabled]="!isAuthenticating"
            [visibility]="!isLoggingIn ? 'visible' : 'hidden'"
            [items]="items"
            [class.light]="!isLoggingIn"
            row="4"
          ></ListPicker>

          <ActivityIndicator
            [busy]="isAuthenticating"
            rowSpan="2"
          ></ActivityIndicator>
        </GridLayout>
        <Button
          [text]="isLoggingIn ? 'Login' : 'Sign up'"
          [isEnabled]="!isAuthenticating"
          class="submit-button"
          (tap)="submit()"
          row="2"
        ></Button>
        <FacebookLoginButton (login)="onLogin($event)" class="facebook-button" row="3"></FacebookLoginButton>
        <Label
          class="forgot-password-label"
          text="Forgot password?"
          (tap)="forgotPassword()"
          [visibility]="isLoggingIn ? 'visible' : 'hidden'"
          row="4"
        ></Label>

        <StackLayout
          #signUpStack
          class="sign-up-stack"
          (tap)="toggleDisplay()"
          translateY="50"
          row="5"
        >
          <Label
            [text]="isLoggingIn ? 'Sign up here' : 'Back to login'"
          ></Label>
        </StackLayout>
      </GridLayout>
    </ScrollView>
  </StackLayout>

  <!-- The fruit logo that appears within the container -->
  <AbsoluteLayout #logoContainer class="logo-container">
    <Image src="res://logo_login" stretch="none"></Image>
  </AbsoluteLayout>
</GridLayout>
